@import '../../style/vars';
@import '../../style/breakpoints';

.product {
  background-color: $white;
  border-radius: 8px;
  margin-bottom: 20px;

  h4 { margin: 0; padding: 0; }

  img { border-radius: 8px 8px 0 0; width: 100%; }

  .holder { padding: 25px; }

  .title-price { display: flex; align-items: baseline; }
  .title { flex: 1; font-size: 21px; line-height: 25px; font-weight: normal; }
  .price { flex: 1; font-size: 16px; line-height: 19px; font-weight: 300; text-align: right; }

  .inventory {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: $dusty-gray;
    margin: 10px 0 25px;
  }

  @include md {
    display: flex;

    img { border-radius: 8px 0 0 8px; }
    .img-holder { flex: 1.5; }
    .holder { flex: 2; position: relative; }

    .title { font-size: 28px; line-height: 33px; }
    .price { font-size: 21px; line-height: 25px; }
  }

  @include lg {
    display: flex;

    img { flex: 2.85; }
    .title { font-size: 38px; line-height: 46px; }
    .price { font-size: 21px; line-height: 25px; }
    .inventory{ margin-top: 20px; }
  }
}