@import 'vars';
@import 'breakpoints';

body {
  font: 100% $font-stack;
  color: $mine-shaft;
  background-color: $athens-gray;
  padding: 0;
  margin: 0;
}

.sub {
  font-family: $sub-font-stack;
}

div {
  margin: 0;
  padding: 0;
}

a {
  color: $mine-shaft;
  text-decoration: none;
}

a:hover {
  color: $steel-blue;
}

a.disabled {
  color: $silver;
  cursor: default;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  color: #292929;
  line-height: 44px;
  margin: 0;
}

button.reset-button {
  font: 100% $font-stack;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
button.reset-button:focus {outline:0;}

.shopping-cart {
  line-height: 20px;
  font-size: 14px;

  button:hover {
    color: $steel-blue;
  }
  
  button:hover svg g {
    fill: $steel-blue;
  }

  button:disabled {
    color: $silver;
  }

  button:disabled svg g {
    fill: $silver;
  }
}

.header {
  border-bottom: 1px solid $alto;
  padding-bottom: 18px;

  @include md {
    display: flex;

    h2 { flex: 1 1 auto; }

    .shopping-cart {
      flex: 1 1 auto;
      text-align: right;
      line-height: 44px;
    }
  }
}

.product-list {
  margin-top: 20px;
  @include md { margin-top: 25px; }
  @include lg { margin-top: 30px; }
}

.product {
  background-color: $white;
  border-radius: 8px;
  margin-bottom: 20px;

  h4 { margin: 0; padding: 0; }

  img { border-radius: 8px 8px 0 0; width: 100%; }

  .holder { padding: 25px; }

  .title-price { display: flex; align-items: baseline; }
  .title { flex: 1; font-size: 21px; line-height: 25px; font-weight: normal; }
  .price { flex: 1; font-size: 16px; line-height: 19px; font-weight: 300; text-align: right; }

  .inventory {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: $dusty-gray;
    margin: 10px 0 25px;
  }

  @include md {
    display: flex;

    img { border-radius: 8px 0 0 8px; }
    .img-holder { flex: 1.5; }
    .holder { flex: 2; position: relative; }

    .title { font-size: 28px; line-height: 33px; }
    .price { font-size: 21px; line-height: 25px; }
  }

  @include lg {
    display: flex;

    img { flex: 2.85; }
    .title { font-size: 38px; line-height: 46px; }
    .price { font-size: 21px; line-height: 25px; }
    .inventory{ margin-top: 20px; }
  }
}

.add-to-cart {
  color: $white;
  background-color: $danube;
  border: 0;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  padding: 10px 20px;

  &:hover {
    background-color: $steel-blue;
    cursor: pointer;
  }

  &:disabled {
    background-color: $light-water;
    cursor: default;
  }

  &:focus {outline:0;}

  @include md {
    position: absolute;
    bottom: 25px;
    left: 25px;
    padding: 15px 25px;
  }
}

#cart {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#cart .content {
  position: relative;
  background-color: $white;
  padding: 15px;
  height: 100vh;

  h3 {
    font-size: 28px;
    line-height: 32px;
    border-bottom: 1px solid $alto;
    padding-bottom: 18px;
  }

  .close-cart-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;

    img { width: 100%; }

    @include sm { right: 30px; top:30px; width: 30px; height: 30px; }
  }

  @include sm {
    margin: 15% auto;
    width: 80%;
    max-width: 780px;
    border: 1px solid #888;
    height: auto;
    border-radius: 14px;
  }
}

#cart .cart-empty {
  text-align: center;
  padding: 95px 0;

  .sub {
    font-size: 16px;
    line-height: 23px;
    color: $dusty-gray;
  }

  svg {
    width: 72px;
    height: 57px;

    g { fill: $dusty-gray; }
  }

  @include md { padding: 125px; }
}

#cart .cart-items {
  .product {
    display: flex;
    border-radius: 0;
    margin-bottom: 15px;

    img {
      border-radius: 0;
    }

    .img-holder {
      flex: 0 0 36%
    }

    .holder {
      padding: 0 0 0 15px;
      flex: 0 0 64%;
      display: flex;
      flex-direction: column;
    }

    .title-price { display: block; }
    .title { flex: none; font-size: 16px; line-height: 19px; }
    .price { flex: none; font-size: 14px; line-height: 17px; text-align: left; }

    .remove {
      color: $red;
      font-size: 14px;
      line-height: 16px;
      margin: auto 0 4px;
      text-align: left;
      max-width: 60px;
    }
  }
}

#cart .items-container {
  border-bottom: 1px solid $alto;
  margin-bottom: 8px;
}

#cart .cart-button-group {
  font-size: 14px;
  line-height: 40px;
  display: flex;
  vertical-align: middle;
  margin-bottom: 20px;

  button {
    width: 33.33%;
    height: 40px;
    background: $athens-gray;
  }

  button.center {
    background: $white;
    border: 1px solid $athens-gray;
    border-left: none;
    border-right: none;
    cursor: default;
  }

  button:first-of-type {
    border-radius: 100px 0 0 100px;

    svg { margin-bottom: 3px; }
  }

  button:last-of-type {
    border-radius: 0 100px 100px 0;

    svg { margin-top: 1px; }
  }

  button:first-of-type:hover:enabled,
  button:last-of-type:hover:enabled {
    background-color: $steel-blue;
    cursor: pointer;
  }

  button:hover:enabled svg g {
    stroke: $white;
  }

  button:disabled {
    background-color: $alabaster;
    cursor: default;
  }
}

#cart .price-row {
  font-size: 14px;
  line-height: 17px;
  display: flex;

  .column {
    flex: 50%;
    margin: 10px 0;

    &:last-child {
      text-align: right;
      font-weight: 300;
    }
  }

  &.divider {
    border-bottom: 1px solid $alto;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
}

#cart button.update {
  margin-top: 20px;
  font-size: 14px;
  line-height: 17px;
  height: 44px;
  width: 100%;
  color: $mine-shaft;
  border: 1px solid $mine-shaft;

  &:hover {
    background-color: $mine-shaft;
    color: $white;
  }
}

#cart button.checkout {
  position: fixed;
  left:0;
  bottom:0;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  background-color: $danube;
  height: 44px;
  width: 100%;

  &:hover {
    background-color: $steel-blue;
  }
}


#root {
  padding: 35px 20px;
  // 576px window width and more
  @include sm {
    // nada
  }
  // 768px window width and more
  @include md {
    padding: 50px;
  }
  // 992px window width and more
  @include lg {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 60px 80px;
  }
}