@import 'vars';
@import 'breakpoints';

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
  padding: 0;
  margin: 0;
}

.sub {
  font-family: $sub-font-stack;
}

div {
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover-color;
}

a.disabled {
  // sketch file used opacity to get this color
  // opacity is expensive (still? i assume)
  // figured out hex value without using opacity for potential performance gain
  color: $disabled-color;
  cursor: default;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  color: #292929;
  line-height: 44px;
  margin: 0;
}

button.reset-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
button.reset-button:focus {outline:0;}

.shopping-cart {
  line-height: 20px;
  font-size: 14px;

  button:hover {
    color: $link-hover-color;
  }
  
  button:hover svg g {
    fill: $link-hover-color;
  }

  button:disabled {
    color: $disabled-color;
  }
  button:disabled svg g {
    fill: $disabled-color;
  }
}

.header {
  border-bottom: 1px solid #DADADA;
  padding-bottom: 18px;

  @include md {
    display: flex;

    h2 { flex: 1 1 auto; }

    .shopping-cart {
      flex: 1 1 auto;
      text-align: right;
      line-height: 44px;
    }
  }
}

.product-list {
  margin-top: 20px;
  @include md { margin-top: 25px; }
  @include lg { margin-top: 30px; }
}

.product {
  background-color: $white;
  border-radius: 8px;
  margin-bottom: 20px;

  h4 { margin: 0; padding: 0; }

  img { border-radius: 8px 8px 0 0; width: 100%; }

  .holder { padding: 25px; }

  .title-price { display: flex; align-items: baseline; }
  .title { flex: 1; font-size: 21px; line-height: 25px; font-weight: normal; }
  .price { flex: 1; font-size: 16px; line-height: 19px; font-weight: 300; text-align: right; }

  .inventory {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: $sub-light;
    margin: 10px 0 25px;
  }

  @include md {
    display: flex;

    img { border-radius: 8px 0 0 8px; }
    .img-holder { flex: 1.5; }
    .holder { flex: 2; position: relative; }

    .title { font-size: 28px; line-height: 33px; }
    .price { font-size: 21px; line-height: 25px; }
  }

  @include lg {
    display: flex;

    img { flex: 2.85; }
    .title { font-size: 38px; line-height: 46px; }
    .price { font-size: 21px; line-height: 25px; }
    .inventory{ margin-top: 20px; }
  }
}

.add-to-cart {
  color: $white;
  background-color: $button-background;
  border: 0;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  padding: 10px 20px;

  &:hover {
    background-color: $button-background-hover;
    cursor: pointer;
  }

  &:disabled {
    background-color: $button-background-disabled;
    cursor: default;
  }

  @include md {
    position: absolute;
    bottom: 25px;
    left: 25px;
    padding: 15px 25px;
  }
}

#cart {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#cart .content {
  position: relative;
  background-color: $white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 14px;
  
  .close-cart-button {
    position: absolute;
    right: 20px;
    top: 20px;

    @include md { right: 30px; top:30px; }
  }
}

#root {
  padding: 35px 20px;
  // 576px window width and more
  @include sm {
    // nada
  }
  // 768px window width and more
  @include md {
    padding: 50px;
  }
  // 992px window width and more
  @include lg {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 60px 80px;
  }
}