$font-stack: 'Chivo', sans-serif;
$sub-font-stack: Helvetica Neue,Helvetica,Arial,sans-serif;

// TODO: cleanup these names
$primary-color: #292929;
$link-hover-color: #407FC0;
$disabled-color: #BFBFBF;
$sub-light: #9B9B9B;
$background-color: #F2F4F7;
$button-background: #5E97D1;
$button-background-hover: #D0E1F2;
$button-background-disabled: #D0E1F2;
$white: #FFF;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;