$font-stack: 'Chivo', sans-serif;
$sub-font-stack: Helvetica Neue,Helvetica,Arial,sans-serif;

$mine-shaft: #292929;
$steel-blue: #407FC0;
$silver: #BFBFBF;
$dusty-gray: #9B9B9B;
$alto: #DADADA;
$athens-gray: #F2F4F7;
$danube: #5E97D1;
$light-water: #D0E1F2;
$alabaster: #F9F9F9;
$white: #FFF;
$red: #CC1D39;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;